*{
  margin: 0;
  padding: 0;
}

a{
  color: black;
  text-decoration: none;
}

body{
  background-color: #F6F7F8;
}


.main__app{
  background-color: #F6F7F8;
  padding: 124px 30px 60px;
  max-width: 1120px;
  display: grid;
  margin: auto;
  grid-auto-columns: 1fr;
  grid-template-columns: 30% 70%;
  gap: 0 5px;
  grid-template-areas:
    "filter search"
    "filter items"
    ". items"
    ". pagination"
}

.main__favorites{
  max-width: 775px;
  margin: auto;
  padding: 124px 30px 0;
}

@media screen and (max-width: 1000px) {
  .main__app{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    align-items: center;
    padding: 124px 5px;
  }
}
