@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

.filter__form{
  padding: 20px;
  background-color: #fff;
  max-width: 315px;
  border-radius: 12px;
  border: 1px solid #EAEBED;
  grid-area: filter;
  box-sizing: border-box;
  max-height: 358px;
}

.form__header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.form__name{
  font-size: 20px;
  font-weight: 700;
  font-family: Inter;
  color: #232134;
}

.clear{
  position: relative;
  color: #ACADB9;
  font-weight: 500;
  font-family: Inter;
  font-size: 14px;
  margin-right: 17px;
  height: fit-content;
  transition: 0.07s;
  cursor: pointer;
  transition: 0.07s;
}

.clear::before,
.clear::after{
  content: '';
  width: 10px;
  height: 1.3px;
  background-color: #ACADB9;
  position: absolute;
  right: -17px;
  top: 9px;
}

.clear:hover{
  color: #92C1FF;
}

.clear:hover::after,
.clear:hover::before{
  background-color: #92C1FF;
}

.clear::before{
  transform: rotate(45deg);
}

.clear::after{
  transform: rotate(-45deg);
}

.filter__option{
  margin: 20px 0;
}

.option__name{
  font-size: 16px;
  font-weight: 700;
  font-family: Inter;
  color: #232134;
  margin-bottom: 4px;
}

.button__apply{
  width: 100%;
  padding: 9.5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 0;
  background-color: #5E96FC;
  color: white;
  cursor: pointer;
  font-size: 14px;
  font-family: Inter;
  line-height: 21px;
  font-weight: 500;
  margin-top: 20px;
}

.button__apply:hover{
  background-color: #92C1FF;
}

.button__apply:active{
  background-color: #3B7CD3;
}

@media screen and (max-width: 1000px) {
  .filter__form{
    display: none;
  }
}