@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.search__form{
  width: 99%;
  margin: auto;
  position: relative;
  grid-area: search;
}

.search__input{
  width: 100%;
  padding: 13.5px 36px;
  border: 1px solid #EAEBED;
  border-radius: 8px;
  box-sizing: border-box;
  font-size: 16px;
  outline: 0;
  display: flex;
}

.search__input:focus{
  border: 1px solid #5E96FC;
}

.search__input:active{
  outline: 0;
}

.search__input::placeholder{
  color: #ACADB9;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}

.search__img{
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 12px;
  top: 14px;
}

.search__button{
  position: absolute;
  right: 0;
  background-color: #5E96FC;
  color: white;
  border-radius: 8px;
  border: 0;
  font-size: 14px;
  font-family: Inter, serif;
  cursor: pointer;
  top: 6px;
  right: 12px;
  line-height: 21px;
  padding: 5.5px 20px;
  transition: 0.07s;
}

.search__button:hover{
  background-color: #92C1FF;
}

.search__button:active{
  background-color: #3B7CD3;
}

@media screen and (max-width: 440px) {
  .search__input::placeholder{
    font-size: 12px;
  }

  .search__button{
    padding: 3px 12px;
    font-size: 12px;
    top: 6px;
    right: 10px;
  }

  .search__input{
    padding: 10px;
  }

  .search__img{
    display: none;
  }
}