@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.header{
  display: flex;
  height: 84px;
  padding: 0 162px;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
}

a{
  text-decoration: none;
}

.logo{
  width: fit-content;
  position: absolute;
  top: 24px;
  left: 202px;
}

.logo__h{
  font-weight: 600;
  width: fit-content;
  font-family: 'Poppins', sans-serif;
  position: relative;
  font-size: 24px;
}

.logo__h::after,
.logo__h::before{
  content: '';
  width: 40px;
  height: 15px;
  display: block;
  position: absolute;
  background-color: #5E96FC;
  border-radius: 50%;
  left: -45px;
}

.logo__h::before{
  transform: rotate(45deg);
  top: 10px;
}

.logo__h::after{
  transform: rotate(-45deg);
  top: 10px;
}

.nav__ul{
  list-style-type: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 275px;
  margin: auto;
}

.header__nav{
  display: flex;
  margin: auto;
}

.nav__item_a{
  color: #232134;
  font-weight: 400;
  font-family: Inter;
  font-size: 16px;
}

.nav__item_a.active{
  color: #5E96FC;
}


@media screen and (max-width: 860px) {
  .header{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    height: none;
  }

  .header__nav{
    margin-top: 10px;
  }
}

@media screen and (max-width: 1000px) {
  .logo{
    position: static;
  }
}